.screen{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.4);
    z-index: 5;
    display: flex;
    justify-content: center;
}

.addscreen{
    width: 40%;
    height: 60%;
    background-color: #e9e9e9;
    position: fixed;
    top: 20%;
    border-radius: 10px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.out{
    position: absolute;
    right: 0;
    margin: 10px;
    border: none;
}
.box{
    margin-top: 60px;
}
.wrap{
    display: flex;
    flex-direction: row;
    height: 35px;
    justify-content: space-around;
    margin-bottom: 15px;
    width: 95%;
    margin-left: 15px;
}
.text{
    font-size: medium;
    font-weight: 600;
}
.input1{
    width: 70%;
    height: 35px;
    padding-left: 10px;
}
.innerbox{
    margin-top: 30px;
}
.input2{
    width: 70%;
    height: 100%;
    margin-top: 10px;
    padding-left: 10px;
}
.deletebtn{
    width: 8%;
    height: 100%;
    margin-top: 13px;
    margin-left: -10px;
}
.submitbtn{
    width: 30%;
    height: 40px;
    background-color: lightgray;
    border: none;
    font-size: medium;
    font-weight: 600;
    margin-top: 40px;
}