.screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.4);
  z-index: 5;
  display: flex;
  justify-content: center;
}

.addscreen {
  width: 40%;
  height: 45%;
  background-color: #e9e9e9;
  position: fixed;
  top: 25%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.out {
  position: absolute;
  right: 0;
  margin: 10px;
  border: none;
  background-color: #834741;
  color: white;
}
.box {
  height: 80%;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.text1 {
  font-size: large;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  background-color: #834741;
  margin-top: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.text2 {
  text-align: left;
  margin-left: 30px;
  font-size: medium;
  font-weight: 600;
}
.input {
  width: 80%;
  height: 35px;
  margin-left: 30px;
  border: 1px solid #834741;
  border-radius: 5px;
  padding-left: 10px;
}
.wrap {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 30px;
}
.submitbtn {
  width: 25%;
  height: 50px;
  margin-top: 20px;
  color: white;
  font-weight: 500;
  border: none;
  background-color: #834741;
  border-radius: 5px;
}
