.screen{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(17, 17, 17, 0.4);
    z-index: 5;
    display: flex;
    justify-content: center;
}
.header{
    width: auto;
    height: 13%;
    border-radius: 10px 10px 0 0;
    color: white;
    font-size: larger;
    font-weight: 600;
    background-color: #834741;
    text-align: center;
}
.wrapping{
    width: 80%;
    height: 350px;
    margin-left: 50px;
    position: relative;
    margin-top: 50px;
}
.addtaskscreen{
    width: 30%;
    height: 65%;
    background-color: white;
    position: fixed;
    top: 10%;
    border-radius: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box{

    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.text{
    font-size: medium;
    font-weight: bolder;

}
.nicknamewrap{
    font-size: large;
    border: 1px solid #834741;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;

}

.out{
    position: absolute;
    right: 0;
    margin: 10px;
    border: none;
    background-color: #834741;
    color: white;
    font-size: large;
    font-weight: 600;
}
.inputpw{
    font-size: large;
    width: 100%;
    height: 35px;
    border: 1px solid #834741;
    border-radius: 5px;

}
.inputpw:hover{
    border: 1px solid #834741;
}
.okbtn{
    width: 40%;
    height: 50px;
    border-radius: 7px;
    border: none;
    background-color: #834741;
    color: white;
    font-size: medium;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
}
