.headwrap{
    width: 85%;
    height: 150px;
    margin-top: -10px;
}
.date{
    font-size:xx-large;
    font-weight: 600;
    margin-right: 30px;
}
.info{
    display: flex;
    flex-direction: row;
    margin-top: -10px;
}
.title{
    font-size: x-large;
    font-weight: bold;
    margin-top: 5px;
}