.viewport {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.box {
  width: 60%;
  height: 100%;
  border: 1px solid black;
  margin-top: 50px;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: row;
}

.contents {
  width: 50%;
  height: 100%;
  position: relative;
  right: 0;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}

.wrap {
  position: relative;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 90%;
  margin-left: 70px;
}

.input {
  height: 40px;
  border-radius: 5px;
  width: 50%;
  margin-top: -10px;
  padding-left: 10px;
}

.input2 {
  height: 40px;
  border: 2px solid black;
  border-radius: 5px;
  width: 70%;
  margin-top: -10px;
  padding-left: 10px;
}

.button {
  height: 44px;
  width: 20%;
  line-height: 2;
  background-color: lightgray;
  color: white;
  font-weight: 600;
  font-size: medium;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  margin-top: -10px;
}

.startBtn {
  height: 54px;
  width: 40%;
  border-radius: 5px;
  border: none;
  background-color: lightgray;
  color: white;
  font-size: large;
  font-weight: 600;
  margin-left: 130px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.certification {
  display: flex;
  justify-content: left;
  align-items: center;
}

.timer {
  font-size: 14px;
  text-align: right;
  margin-left: 40px;
  position: relative;
  color: red;
}

.invalid {
  border: 2px solid red;
}

.invalidMessage {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  position: relative;
}
