.viewport{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: #e9e9e9;
}
.container{
    width: 85%;
    height: 900px;
    margin-left: 400px;
}
.midwrap{
    position: relative;
    width: 85%;
    margin-bottom: 25px;
    height: 50px;
    color: pink;
}
.addbtn{
    position: absolute;
    right: 0;
    height: 50px;
    width: 15%;
    font-weight: 600;
    color: white;
    background-color: #834741;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.mainwrap{
    width: 85%;
    height: 500px;
    background-color: white;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px -7px;
}
.top{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid lightgray;
    font-size: medium;
    font-weight: 600;
    color: gray;
    align-items: center;
    text-align: center;
}
.toptext{
    margin-left: 210px;
}
.taskwrap{
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 50px;
    border-bottom: 1px solid #e9e9e9;
    align-items: center;
    text-align: center;
}
.check{
    width: 18px;
    height: 18px;
    margin-top: 18px;
    margin-right: 80px;
    margin-left: 50px;
}
.value{
    margin-right: 80px;
    font-size: medium;
    font-weight: 600;
    color: black;
    margin-top: 15px;
    margin-left: 50px;
}
.removebtn{
    width: 80%;
    height: 80%;
    margin-left: 20px;
    background-color: lightgray;
    border: none;
    font-size: medium;
}
.editbtn{
    width: 80%;
    height: 80%;
    margin-left: 20px;
    background-color: lightgray;
    border: none;
    font-size: medium;
}
.buttonsContainer {
  display: flex;
  gap: 8px;
}
